<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>New messages</h1>
    <form method="POST" action="/new">
      <label
        >Author
        <input type="text" placeholder="Your name" name="author" required />
      </label>
      <label>
        Message
        <input
          type="text"
          placeholder="What's on your mind?"
          name="message"
          required
        />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
